@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    min-height: 100vh;
}

.background{
    background: rgba(0,0,0,0.6) url('https://source.unsplash.com/1600x900/?mobile,laptop') ;
    background-size: cover;
    background-blend-mode: darken;
}

.navbar {
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 7fr 1fr;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    color: white;

}

.nav-list {
    display: flex;
    align-items: center;
    margin-left: 4rem;
}

.logo img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.nav-list li {
    margin:0 2rem;
    list-style: none;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
}

.nav-list li a:focus , .btn:focus , .button-coll button:focus{
    background-color: white;
    color: black;
    border-radius: 6%;
    font-family: 'Cuprum', sans-serif;
    font-size: 1.7rem;
}

.nav-list li a:hover , .btn:hover , .button-coll button:hover{
    color: red;
}

.right-nav{
    display: flex;
}

.btn{
    width: 9rem;
    height: 3rem;
    border-radius: 10%;
    border: 1px solid white;
    background-color: transparent;
    margin-right: 2rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: white;
}

.min-bar{
    position: absolute;
    right: 2rem;
    font-size: 2rem;
    display: none;
}    

.firstsection{
    height: 100vh;
}

.box-main{
    height: 80%;
    max-width: 60%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.main-content{
    display: flex;
    flex-direction: column;
}

.text-bg{
    font-size: 2.6rem;
    text-decoration: underline;
    color: rgb(230, 226, 216);
}

.text-sm{
    margin: 0.5rem 0 1.2rem 0;
    font-size: 1.5rem;
    color: rgb(231, 228, 240);
}

.button-coll button{
    width: 13rem;
    height: 4rem;
    color: whitesmoke;
    border-radius: 3rem;
    background-color: transparent;
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 100;
    margin: 1rem;}

.button-coll button:hover , .button-coll button:focus{
    border-radius: 3rem;
}
  
.main-icon img{
    height: 21rem;
    width: 22rem;
    border-radius: 50%;
    border: 0.4rem solid white;
    margin: 2rem;
}




article{
    color: black;
    width: 100%;
}

.product1{
    /* height: 80%; */
    /* max-width: 60%; */
    /* margin:3rem 7rem; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    overflow: hidden;
}

.product1-content{
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

.product-heading {
    font-size: 2.6rem;
    text-decoration: underline;
    color: black;
}

.product-subcontent {
        /* margin: 0.5rem 0 1.2rem 0; */
        font-size: 1.5rem;
        color: black;
        max-width: 94%;
}

.product1-icon img{
    height: 17rem;
    width: 18rem;
    border-radius: 16%;
    border: 0.4rem solid black;
    margin: 2rem;
}

.pic-left{
    flex-direction: row-reverse;
}


#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(66, 10, 10, 0.4) url('/images/contact\ us.jpg');
    background-size: cover;
    background-blend-mode: darken;
    overflow: hidden;
    padding: 2rem;
    margin-top: 2rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-group label, section>p{
    font-size: 17px;
    font-weight: bold;
    color: white;
}

input[type='text'],
input[type='email'],
input[type='number'],
textarea {
    width: 500px;
    color: mistyrose;
    font-size: 1.5rem;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
}

input::placeholder, textarea::placeholder{
    color: blanchedalmond;
}


input[type='submit'] {
    width: 12rem;
    margin-top: 20px;
    height: 3.7rem;
    font-weight: bold;
    /* margin-right: 2rem; */
}

/* #ccd5c4 */

footer{
background-color: black;
color: white;
    display: flex;
justify-content: center;
font-size: 1rem;
    /* padding: 0.5rem; */
}













@media (max-width: 525px) {
    .main-icon img{
        height: 12rem;
        width: 9rem;
        margin: 0;
    }

}

@media (max-width: 1000px) {

   
.box-main{
        flex-direction: column-reverse;
            }
    .button-coll{
        margin: auto;
    }
 .main-content{
     text-align: center;
}

}



/* This will fire when humburger icon is clicked */
@media (max-width: 810px) 
{
    .navbar {
        grid-template-columns: 1fr;
        height: 284.4px;
        transition: all 0.4s ease-out;
    }

    .right-nav{
        flex-direction: column;
    }

    .nav-list{
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .nav-list li {
        margin: 0.8rem 0rem;
    }

    .btn{
        display: block;
        margin: 0.6rem auto;
    }
    
    .min-bar{
        display: block;
        top: 1.7rem;
    }

    .h-nav{
        height: 53.2px;
    }

    .v-hidden{
       opacity: 0;
    }

    .product1{
        flex-direction: column-reverse;
    }

    .product1-content{
        text-align: center;
   }
}

